
<li><a asp-action="basic" asp-controller="table">Basic Sample</a></li>
<li><a asp-action="ajax" asp-controller="table">Ajax Support</a></li>
<li><a asp-action="markup" asp-controller="table">Markup</a></li>
