@inject Microsoft.Framework.OptionsModel.IOptions<Acme.Helpers.Website.AppSettings> AppSettings
@model Acme.Helpers.Website.Models.IPagedList<Acme.Helpers.Website.Models.BasicPersonView>

@{
    ViewBag.Title = "Table - Markup";
}

<h3 id="basic">@ViewBag.Title</h3>
<p>An example showing how to use view model data with markup to create a table.</p>

<!-- Tab Buttons -->
<ul id="tabstrip" class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#Output" role="tab" data-toggle="tab">Output</a></li>
    <li><a href="#Source" role="tab" data-toggle="tab">Source</a></li>
</ul>

<!-- Tab Content Containers -->
<div class="tab-content">
    <div class="tab-pane fade in active" id="Output">
        <table class="table" asp-for="@Model" auto-generate-columns="false">
            <thead>
                <tr>
                    <th asp-for="Id" cell-uihint="PersonLink">Identity</th>
                    <th asp-for="FullName">Fullname</th>
                    <th asp-for="Email" cell-uihint="MailTo">Email Address</th>
                    <th asp-for="FavoriteColor" cell-uihint="colorsquare" style="text-align: center">Preference</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tab-pane fade" id="Source">
        <code><small>Markup</small></code>
<pre class="prettyprint">
@@model Acme.Helpers.Website.Models.IPagedList&lt;Acme.Helpers.Website.Models.BasicPersonView&gt;
&lt;table class="table" asp-for="@@Model" auto-generate-columns="false"&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th asp-for="Id" cell-uihint="PersonLink"&gt;Identity&lt;/th&gt;
            &lt;th asp-for="FullName"&gt;Fullname&lt;/th&gt;
            &lt;th asp-for="Email" cell-uihint="MailTo"&gt;Email Address&lt;/th&gt;
            &lt;th asp-for="FavoriteColor" cell-uihint="colorsquare" style="text-align: center"&gt;Preference&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
&lt;/table&gt;
</pre>
    </div>
</div>


